.link-style {
    color: red;
    text-decoration: none;
  }

.divStyle{
    /* display: none; */
    height: 100px;
    width: 800px;
    margin-top:20px;
    padding: 10px;
    background-color: red;
}