body{
    font-family: 'Oswald', sans-serif;
  }
  .container{
    margin-top: 100px;
  }
  h2 {
    text-align: center;
    margin: -10px 0px 10px 0px;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:active{
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
  p {
    text-align: center;
  } 
  div.calc {
    background-color: #034745;
    margin: 0px auto;
    width: 20%;
    height: auto;
    padding: 1.5vw;
    box-shadow: 2px 2px 5px gray;
  } 
  input {
    background-color: #d1ccc9;
    font-size: 1.5vw;
    border: none;
    height: 2.6vw;
    width: 2.6vw;
    margin: 5px; 
    box-shadow: 2px 2px 5px gray;
    transition: 0.2s; 
  }
  input:hover {
    background-color: #FFF;
  }
  input:focus {
    outline: none;
  }
  textarea {
    margin: 0px auto;
    font-size: 2vw;
    font-weight: bolder;
    width: 100%;
    border: none;
    text-align: right;
  }